* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    color: white;
    line-height: 1.7;
    font-weight: 400;
    font-family: sans-serif;
}

.contenedor {
    max-width: 128rem;
    margin: 2.4rem auto;
    background-color: #012169;
    padding: 2.4rem 3.2rem;
    border-radius: 12px;
    box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.2);

}

.encabezado-primario {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 4.8rem;
}

.formulario {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1.6rem;
    align-items: end;
}

.formulario label {
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
}

.formulario__input {
    width: 29.2rem;
    font-size: 1.8rem;
    border-radius: 5px;
}

.formulario__input:focus {
    box-shadow: 0 0 0 0.5rem rgba(0, 119, 200, 0.5);
    outline: none;
}

.asterisco {
    color: red;
}

.formulario__btnContenedor {
    grid-column: 3 / -1;
    justify-self: center;
    align-self: end;
}

.btn {
    border: none;
    background-color: #0077c8;
    color: #fff;
    font-size: 2.0rem;
    border-radius: 1.2rem;
    padding: 0.8rem 1.6rem;
    cursor: pointer;
}

.btn:hover, btn:active {
    background-color: #006bb4;
}

.btn--animated:hover {
    transform: translateY(-0.1rem);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

.btn--animated:active {
    transform: translateY(0.005rem);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}