// theme colours
$primary: #5bb8d9;
$secondary: #0494c4;
$primary-dark: #045c94;
$secondary-dark: #242c5c;
$login-gray: #f2f6ff;
$gray: #424242;
$text-main: #343a40;
$bg-main: #f6f6f6;
$sidebar-title: #cbcbcb;
$clear-gray: #d5d7dd;

// shadows
$base-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);