@use "../abstracts" as a;

body {
  background-color: a.$bg-main;
}

.dashboard {

  .sidebar {
    height: 100vh;
    box-shadow: a.$base-shadow;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: a.rem(14);
    position: fixed;
    width: 18vw;

    &__image {
      width: 100%;
      height: auto;
      margin-top: a.rem(12);
      margin-bottom: a.rem(12);
    }

    &__nav {
      width: 100%;

      .sidebar__dashboard {

      }

      .sidebar__apps {

      }
    }
  }

  main {
    display: grid;
    grid-template-columns: 18vw auto;
  }
}