@use "../abstracts" as a;

.sidebar__title {
  color: a.$sidebar-title;
  text-align: left;
  text-transform: uppercase;
  font-size: a.rem(16);
  letter-spacing: a.rem(-0.5);
  margin-bottom: a.rem(8);
}

.sidebar__list {
  list-style: none;

  &:last-of-type {
    margin-bottom: a.rem(12);
  }
}

.sidebar__icon {
  width: a.rem(16);
}

.sidebar__link {
  width: 100%;
  font-size: a.rem(16);
  display: flex;
  align-items: center;
  gap: a.rem(10);
  margin-bottom: a.rem(8);

  &:link, &:visited {
    text-decoration: none;
    color: a.$text-main;
    padding: a.rem(6) a.rem(8);
  }

  &:hover, &:active {
    background-color: #5bb8d9;
    color: #fff;
    border-radius: a.rem(5);
  }

  &--active:link, &--active:visited {
    background-color: #5bb8d9;
    color: #fff;
    border-radius: a.rem(5);
  }
}