@use "../abstracts" as a;

.dashboard__home {
  grid-column-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: a.rem(78);
  margin-top: a.rem(42);

  .dashboard__card {
    box-shadow: a.$base-shadow;
    border-radius: a.rem(10);
    padding: a.rem(20);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: a.$primary-dark solid 5px;

    .card__title {
      display: flex;
      align-items: center;
      gap: a.rem(18);
      margin-bottom: a.rem(24);
    }

    .card__icon {
      width: a.rem(24);
    }

    .card__number {
      color: a.$secondary;
      font-size: a.rem(42);
      text-decoration: none;

      &:hover {
        color: a.$primary;
      }
    }
  }
}