@use "../abstracts" as a;
@use "../utilities" as u;

%flex-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login {
  @extend %flex-layout;
  height: 100vh;
  background-color: a.$login-gray;

  &__img {
    width: 65%;
    height: auto;
    margin-bottom: a.rem(24);

    @include u.media(sm) {
      width: 55%;
    }

    @include u.media(md) {
      max-width: 45%;
    }

    @include u.media(lg) {
      width: 35%;
    }

    @include u.media(xl) {
      width: 20%;
    }
  }

  &__container {
    @extend %flex-layout;
    background-color: #fff;
    border-radius: a.rem(15);
    padding: a.rem(35);
    margin-inline: a.rem(18);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);;

    @include u.media(sm) {
      margin-inline: 0;
      width: 65%;
      height: auto;
    }

    @include u.media(md) {
      max-width: 55%;
    }

    @include u.media(lg) {
      width: 45%;
    }

    @include u.media(xl) {
      width: 30%;
    }

    .login__title {
      font-size: a.rem(24);
      font-weight: 700;
      text-transform: uppercase;
      color: a.$secondary;
      margin-bottom: a.rem(5);

      @include u.media(md) {
        font-size: a.rem(30);
      }
    }

    .login__subtitle {
      font-size: a.rem(12);
      font-weight: 400;
      color: a.$gray;
      margin-bottom: a.rem(36);

      @include u.media(md) {
        font-size: a.rem(16);
      }
    }

    .login__form {
      @extend %flex-layout;
      width: 100%;

      label {
        width: 100%;

        .login__input {
          width: 100%;
          margin-bottom: a.rem(15);
          padding: a.rem(10);
          border-radius: a.rem(5);
          font-size: a.rem(14);
          outline: a.$secondary-dark solid 2px;
          border: none;
          background-color: #fff;
          color: #000;
        }

        *:focus {
          outline: a.$secondary solid 2px;
        }
      }

      .login__btn {
        width: 100%;
        border: none;
        background-color: a.$primary;
        border-radius: a.rem(5);
        color: #fff;
        padding: a.rem(10);
        cursor: pointer;
        font-weight: 500;
        font-size: a.rem(16);

        &:hover {
          background-color: a.$primary-dark;
        }
      }
    }
  }
}